<main>
  <div class="text-secondary my-5">In this page you can choose position information.</div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="w-full flex items-center my-10">
      <div class="w-2/4 pr-5 flex">
        <div class="w-2/4 pr-5">
          <label for="age-min" class="input-label">Age Min</label>
          <input class="form-group" id="age-min" formControlName="ageMin">
        </div>
        <div class="w-2/4">
          <label for="age-max" class="input-label">Age Max</label>
          <input class="form-group" id="age-max" formControlName="ageMax">
        </div>
      </div>
      <div class="w-2/4">
        <label for="gender" class="input-label">Gender</label>
        <select id="gender" formControlName="gender"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option [value]="0">Male</option>
          <option [value]="1">Female</option>
          <option [value]="2">Other</option>
        </select>
      </div>
    </div>
    <div class="w-full flex items-center my-10">
      <div class="w-2/4 pr-5">
        <label for="population" class="input-label">Visible minority population</label>
        <select id="population" formControlName="minority"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option *ngFor="let item of minority" [value]="item.key">{{item.value}}</option>
        </select>
      </div>
      <div class="w-2/4">
        <label for="disabilities" class="input-label">Disability condition</label>
        <select id="disabilities" formControlName="disability"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option *ngFor="let item of disability" [value]="item.key">{{item.value}}</option>
        </select>
      </div>
    </div>
    <div class="w-full flex items-center my-10">
      <div class="w-2/4 pr-5">
        <label for="status" class="input-label">Indigenous Status</label>
        <select id="status" formControlName="indigenous"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option [value]="0">Yes</option>
          <option [value]="1">No</option>
          <option [value]="2">Not Say</option>
        </select>
      </div>

      <div class="w-2/4">
        <label for="University" class="input-label">University</label>
        <select id="University" formControlName="universityId"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option *ngFor="let university of universities" [value]="university.id">{{university.title}}</option>
        </select>
      </div>
    </div>
    <div class="flex footer-btn my-20">
      <div class="skip">
        <button [routerLink]="['']">Skip</button>
      </div>
      <div>
        <button class="btn">Next</button>
      </div>
    </div>
  </form>

</main>
