<app-header></app-header>
<app-aside></app-aside>
<div class="flex">
  <div>
    <p>In this page you can choose position information.</p>
    <div>
      <div>
        <label>Age</label>
        <input>
      </div>
      <div>
        <label>Gender</label>
        <input>
      </div>
      <div>
        <label>Visible minority population</label>
        <input>
      </div>
      <div>
        <label>Disability condition</label>
        <input>
      </div>
      <div>
        <label>Indigenous Status</label>
        <input>
      </div>
    </div>
    <div class="flex justify-between items.center">
      <div>skip</div>
      <div>next</div>
    </div>
  </div>
</div>
