<div class="flex second-body">
  <div>
    <div class="mb-10">
      <p>In this page you can choose position information.</p>
    </div>
    <div class="mb-10">
      <div class="flex dropdown-inputs">
        <div class="w-2/4">
          <label for="ages" class="input-label">Age</label>
          <select id="ages" class="form-group">
            <option selected>Choose a country</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
          </select>

        </div>
        <div class="w-2/4">
          <label for="gender" class="input-label">Gender</label>
          <select id="gender" class="form-group">
            <option selected>Choose a gender</option>
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
          </select>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/4">
          <label for="population" class="input-label">Visible minority population</label>
          <select id="population" class="form-group">
            <option selected>Choose a continent</option>
            <option value="SAsia">South Asian</option>
            <option value="NAsia">North Asian</option>
            <option value="SAfrica">South Africa</option>
            <option value="NAfrica">North Africa</option>
            <option value="SEurope">South Europe</option>
            <option value="NEurope">North Europe</option>
            <option value="SAmerica">South America</option>
            <option value="NAmerica">North America</option>
            <option value="Australia">Australia</option>
          </select>
        </div>
        <div class="w-2/4">
          <label for="disabilities" class="input-label">Disability condition</label>
          <select id="disabilities" class="form-group">
            <option selected>Choose a Disability</option>
            <option value="color-blind">red-green color blindness</option>
            <option value="Blind">Blind</option>
            <option value="Paralyzed">Paralyzed</option>
            <option value="Chor">Chor</option>
          </select>
        </div>
      </div>
      <div class="w-2/4">
        <label for="status" class="input-label">Indigenous Status</label>
        <select id="status" class="form-group">
          <option selected>Choose a status</option>
          <option value="India">India</option>
          <option value="Iran">Iran</option>
          <option value="China">China</option>
          <option value="Japan">Japan</option>
          <option value="Turkey">Turkey</option>
          <option value="Iraq">Iraq</option>
        </select>
      </div>
    </div>
    <div class="flex footer-btn">
      <div><a [routerLink]="['../third']">Skip</a></div>
      <div class="next-btn"><a [routerLink]="['../third']">Next</a></div>
    </div>
  </div>

</div>
