<main class="text-secondary" *ngIf="loaded">
  <section class="roadlane my-20 mx-auto">
    <div>
      <h3>{{myForm.data.title}}</h3>
    </div>
    <div class="flex prof-uni pr-20">
      <div class="flex">
        <div class="mr-1"><i [inlineSVG]="'assets/icons/Profile-img.svg'"></i></div>
        <div><span>Yann LeCun</span></div>
      </div>
      <div class="flex">
        <div class="mr-1"><i [inlineSVG]="'assets/icons/Group.svg'"></i></div>
        <div><span>{{university}}</span></div>
      </div>
    </div>
    <div class="line">
      <i [inlineSVG]="'assets/icons/Line62.svg'"></i>
    </div>
    <!--      <div class="flex btn-box pr-20">-->
    <!--        <div class="flex">-->
    <!--          <div class="mr-5">-->
    <!--            <button class="btn-message">Message</button>-->
    <!--          </div>-->
    <!--          <div>-->
    <!--            <button class="btn-apply">Apply</button>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div><i [inlineSVG]="'assets/icons/Bookmark2.svg'"></i></div>-->
    <!--      </div>-->
  </section>
  <section class="table my-20 mx-auto">
    <table>
      <tr>
        <td>Salary</td>
        <td>{{myForm.data.amount}} / per hour</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{type}}</td>
      </tr>
      <tr>
        <td>Timeframe</td>
        <td>{{timeframe}}</td>
      </tr>
      <tr>
        <td>Availability</td>
        <td>{{availability}}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{location}}</td>
      </tr>
    </table>
  </section>
  <section class="pos-detail my-20 mx-auto">
    <h3 class="mb-5">Positions Details</h3>
    <p>{{myForm.data.description}}</p>
  </section>
  <section class="tagline my-20 mx-auto">
    <h3>Tagline</h3>
    <div class="flex tag-box mt-10">
      <div class="tag-card mb-2.5 mr-5" *ngFor="let card of tagline; index as i">
        <p>{{tagline[i]}}</p>
      </div>
    </div>
  </section>
</main>
