header {
  background: var(--primary);
  color: var(--secondary);
  font-size: 20px;
  height: 100px;
  border-bottom: 2px solid var(--secondary);


  main {
    height: 100%;

    .web-name {
      width: 20%;
      justify-content: center;
      align-items: center;
    }

    .header-tool {
      width: 75%;
    }

    .search-box {
      background: var(--white);
      border: 1px solid var(--secondary);
      border-radius: 6px;
      width: 47px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .new-possition {
      background: var(--secondary);
      border-radius: 6px;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
    }


    .left-btn {

      > div {
        cursor: pointer;
        width: 52px;
        height: 52px;
        border-radius: 10px;
        background: var(--secondary);
      }
    }
  }
}
