<header>
  <main>
    <div>
      <div class="web-name">
        <h1><i [inlineSVG]="'assets/icons/Frame%20238934.svg'"></i>Kojust</h1>
      </div>
      <div>
        <div class="search-box"><i [inlineSVG]="'assets/icons/search.svg'"></i></div>
        <div class="new-possition"><i [inlineSVG]="'assets/icons/plus.svg'"></i>New position</div>
      </div>
    </div>
    <div class="left-btn">
      <div><i [inlineSVG]="'assets/icons/notification-bing.svg'"></i></div>
      <div><i [inlineSVG]="'assets/icons/user.svg'"></i></div>
    </div>
  </main>
</header>
