<main>
  <header>
    <app-header></app-header>
  </header>
  <div class="flex">
    <app-aside></app-aside>
    <div class="w-full main-container">
<!--      <div class="flex items-center justify-between">-->
<!--        <h2 class="flex items-center">-->
<!--          Create new position-->
<!--        </h2>-->
<!--        <div class="flex items-center">-->
<!--          <span class="cursor-pointer text-secondary pr-5 close">Close</span>-->
<!--        </div>-->
<!--      </div>-->
      <div class="components">
        <app-step></app-step>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

