.main-container {
  padding: 40px 80px 40px 24px;
  height: calc(100vh - 100px);
  overflow: auto;

  h2 {
    font-size: 32px;
    color: var(--secondary);
    cursor: pointer;
  }

  i {
    margin-right: 8px;
  }

  .components {
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary);
    margin-top: 40px;
  }

  .close {
    font-weight: 700;
  }
}
