.aside-container {
  width: 220px;
  background-color: var(--primary);
  height: calc(100vh - 100px);

  .item-container {
    display: flex;
    justify-content: end;
  }

  .gift-item {
    margin-top: 10rem;
    display: flex;
    justify-content: end;
    list-style: none;
    color: var(--secondary);
    cursor: pointer;

    &.is-selected {
      font-weight: bold;
    }
  }

  ul {
    padding: 0;
    width: 140px;
  }

  li {
    margin: 30px 10px;
    list-style: none;
    color: var(--secondary);
    cursor: pointer;

    i {
      margin-right: 10px;
    }

    .is-selected {
      font-weight: bold;
    }
  }
}
