<main>
  <div class="text-secondary my-5">In this page you can choose taglines.</div>
  <div class="w-full my-10">
    <label for="tagline-title">Tagline</label>
    <div class="form-group flex add-tagline">
      <div class="w-full">
        <input type="text" id="tagline-title" placeholder="crypto market"/>
      </div>
      <div>
        <i [inlineSVG]="'assets/icons/plus1.svg'" class="cursor-pointer"></i>
      </div>
    </div>
    <div class="flex tag-box mt-10">
      <div class="tag-card mb-2.5 mr-5" *ngFor="let card of cards">
        <p>{{card.name}}</p>
      </div>
    </div>
  </div>
  <div class="text-end my-10">
    <button class="btn" (click)="submit()">Next</button>
  </div>
</main>
