<main *ngIf="!loading">
  <div class="text-secondary my-5">In this page you can choose taglines.</div>
  <div class="w-full my-10">
    <label for="tagline-title">Tagline</label>
    <mat-form-field class="example-chip-list w-full mb-4 pb-2" id="tagline-title">
      <mat-chip-list #chipList>
        <input placeholder="New skill..." #skillInput [matAutocomplete]="auto"
               [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"/>
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let skill of allJob" [value]="skill.id">
          {{ skill.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="flex tag-box mt-10">
      <div class="tag-card mb-2.5 mr-5" *ngFor="let card of jobs">
        <div class="flex justify-between items-center">
          <i class="remove" inlineSVG="assets/icons/remove.svg" (click)="remove(card?.id)"></i>
          <p>{{card.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex footer-btn my-10">
    <div class="skip">
      <button (click)="return()">back</button>
    </div>
    <div>
      <button class="btn" (click)="submit()">Submit</button>
    </div>
  </div>
</main>
