main {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;

  select.form-group {
    color: var(--secondary);
    font-weight: 500;
  }

  textarea {
    min-height: 160px;
  }

  button {
    font-weight: 700;
  }

  .payment-amount {
    position: relative;

    span {
      position: absolute;
      color: var(--secondary);
      right: 25px;
      top: 40px;
      font-size: 18px;

      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

