<main>
  <div class="text-secondary my-5">In this page you can choose position information.</div>

  <div class="w-full my-5">
    <label for="position-title">Position Title</label>
    <input class="form-group" type="text" id="position-title" placeholder="Data Analysis in crypto market"/>
  </div>

  <div class="w-full flex items-center">
    <!--    <div class="w-6/12 pr-5">-->
    <!--      <label>Contract Type</label>-->
    <!--      <div class="relative inline-block text-left w-full">-->
    <!--        <div>-->
    <!--          <button type="button"-->
    <!--                  class="form-group inline-flex w-full justify-between rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"-->
    <!--                  id="Contract-button" aria-expanded="true" aria-haspopup="true">-->
    <!--            Virtual-->
    <!--            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"-->
    <!--                 aria-hidden="true">-->
    <!--              <path fill-rule="evenodd"-->
    <!--                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"-->
    <!--                    clip-rule="evenodd"/>-->
    <!--            </svg>-->
    <!--          </button>-->
    <!--        </div>-->
    <!--        <div-->
    <!--          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"-->
    <!--          role="menu" aria-orientation="vertical" aria-labelledby="Contract-button" tabindex="-1">-->
    <!--          <div class="py-1" role="none">-->
    <!--            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="Contract-item-0">Account-->
    <!--              settings</a>-->
    <!--            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="Contract-item-1">Support</a>-->
    <!--            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="Contract-item-2">License</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="w-6/12 pr-5">

      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contract Type</label>
      <select id="countries"
              class="form-group bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose a country</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
      </select>
    </div>
    <div class="w-6/12">
      <label>Availability</label>
      <div class="relative inline-block text-left w-full">
        <div>
          <button type="button"
                  class="form-group inline-flex w-full justify-between rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                  id="Availability-button" aria-expanded="true" aria-haspopup="true">
            Full-time
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                 aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
        <div
          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu" aria-orientation="vertical" aria-labelledby="Availability-button" tabindex="-1">
          <div class="py-1" role="none">
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
               id="Availability-item-0">Account
              settings</a>
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
               id="Availability-item-1">Support</a>
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
               id="Availability-item-2">License</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
