<main>
  <div class="text-secondary my-5">In this page you can choose position information.</div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="w-full my-5">
      <label for="position-title">Position Title</label>
      <input class="form-group" type="text" id="position-title" placeholder="Data Analysis in crypto market"
             formControlName="title"/>
    </div>

    <div class="w-full flex items-center my-10">
      <div class="w-6/12 pr-5">
        <label for="Contract">Contract Type</label>
        <select id="Contract" formControlName="contractType"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option [value]="0">In Person</option>
          <option [value]="1">Remote</option>
          <option [value]="2">Hybrid</option>
        </select>
      </div>
      <div class="w-6/12">
        <label for="Availability">Availability</label>
        <select id="Availability" formControlName="availability"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option [value]="0">Full Time</option>
          <option [value]="1">Part Time</option>
          <option [value]="2">Seasonal Say</option>
        </select>
      </div>
    </div>


    <div class="w-full flex items-center my-10">
      <div class="w-6/12 pr-5">
        <label for="Payment">Payment Type</label>
        <select id="Payment" formControlName="paymentType"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option [value]="0">Hourly</option>
          <option [value]="1">Daily</option>
          <option [value]="2">Weekly</option>
          <option [value]="3">Monthly</option>
        </select>
      </div>
      <div class="w-6/12 payment-amount">
        <label for="payment-amount">Payment Amount</label>
        <input class="form-group" type="text" id="payment-amount" placeholder="100$" formControlName="amount"/>
        <span>per hour</span>
      </div>
    </div>


    <div class="w-full flex items-center my-10">
      <div class="w-6/12 pr-5">
        <label for="Location">Location</label>
        <select id="Location" formControlName="cityId"
                class="form-group border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
          <option *ngFor="let city of cities" [value]="city.key">{{city.value}}</option>
        </select>
      </div>
      <div class="w-6/12 payment-amount">
        <label for="Duration">Duration</label>
        <mat-form-field appearance="fill" id="Duration">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="validFrom" placeholder="Start date">
            <input matEndDate formControlName="validTo" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <div class="w-full flex items-center my-20">
      <div class="w-full">
        <label for="Location">Project description</label>
        <textarea class="form-group" placeholder="Add extra description" title="description"
                  formControlName="description"></textarea>
      </div>
    </div>

    <div class="text-end">
      <button class="btn" type="submit">Next</button>
    </div>

  </form>

</main>
